:root {
    --clr-aqua: #1FE0DA;
    --clr-white: #ececec;
    --clr-black: #151616;
}

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    list-style-type: none;
    text-decoration: none;
}

.nav-header {
    background-color: var(--clr-aqua);
    font-weight: 600;
    font-size: 1rem;
    color: #3d3f3f;
}

.nav-header p {
    margin-left: 95px;
    margin-bottom: 0;
}

.nav-menu-search {
    width: 100%;
    display: flex;
    justify-content:center;
    column-gap: 50px;
}

.container-search-bar {
    height: 45px;
    display: flex;
    column-gap: 50px;
    margin-right: 400px;
    align-items: center;
    padding-top: 5px;
}

.container-search-bar input {
    width: 350px;
}

.shopping-cart{
    text-decoration: none;
    color: var(--clr-black);
    transition: all .50s ease;
    font-size: 1.8rem;
}

.logo {
    text-decoration: none;
    color: var(--clr-black);
    font-size: 35px;
    font-family: 'Alfa Slab One';
}

.logo span {
    color: #ee0404;
    font-family: 'Alfa Slab One';
}


.nav-menu-container {
    display:flex;
    width: 100%;
    height: 45px;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-black);
    column-gap: 8rem;
}

.nav-list {
    display: flex;
    margin: 7px;
    column-gap: 4rem;
}

.nav-list a{
    text-decoration: none;
    color: var(--clr-white);
    font-size: 1.1rem;
    font-weight: 500;
    transition: all .50s ease; 
}

.nav-list a:hover {
    color: var(--clr-aqua);
    border-bottom: 1px solid;
    border-top: 1px solid;
}

.menuActive{
    color: var(--clr-aqua) !important;
    border-bottom: 1px solid;
    border-top: 1px solid;
}

.signIn {
margin: 7px;
}

.signIn a {
    text-decoration: none;
    color: var(--clr-white);
    margin: 0px 12px;
    transition: all .50s ease;
    font-size: 1.1rem;
}

.signIn a:hover {
    color: var(--clr-aqua);
    border-bottom: 1px solid;
    border-top: 1px solid;
}

/*Seccion Principal*/
.tittle-section{
    text-align: center;
    border-top: 1px solid black;
}

.tittle-section h2{
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    margin: 8px;
    
}

.card-container {
    display: flex;
    justify-content: center;
    column-gap: 0px;
}

.sectionContainer{
    min-height: 100vh;
}

/*FOOTER*/
footer {
    background-color: var(--clr-aqua);
    height: 100%;
    border-top: black 1px solid;
}

.footer-container{
    margin: 0;
    padding: 0;
    margin-bottom: 0;
}

.redes-container{
    display: flex;
    justify-content: center;
    align-items:flex-end ;
    margin-bottom: 0;
    column-gap: 15px;
    font-size: 25px;
}

.redes-container li a {
    color: var(--clr-black);
    margin: 0;
    padding: 0;
}

.copyright{
    text-align: center;
}

.copyright p{
    color: var(--clr-black);
    font-size: 15px;
    font-weight: 500;
    margin: 0;
    padding: 0;
    padding-left: 25px;
}


/**** REMERAS ****/
.contenedorSeccion{
    display: grid;
    grid-template-columns: auto auto auto auto;
    place-content: center;
    padding: 20px;
   
}

.card{
 margin-right: 20px;
 margin-bottom: 20px;
}

 .card-img-top{
    width: 100%;
    height: 100%;
 }


/**** CONTACTO ****/
.seccionContacto{
    height: 100vh;
    font-size: 1.3rem;
    background-image: url("/img/fondocontacto.png"); 
    background-attachment: fixed; 
    background-size: cover; 
    background-position: center; 
}

.containerContacto{
    padding-top: 60px;
}

.formContacto{
    width: 50%;
    min-width: 300px;
    background-color: rgba(0,0,0,0.7);
    margin: auto;
    /* margin-top: 50px; */
    padding: 20px;
}

.formContacto label{
    color: #fff;
    font-weight: 500;
}

.inputForm{
    width: 100%;
    height: 45px;
    background-color: rgba(185, 188, 190, 0.2);
    padding: 10px;
    outline: none;
    border: none;
    border-bottom: 2px solid rgba(0, 238, 255, 0.396);
    font-size: 1rem;
    margin-bottom: 15px;
    color: #fff;
}

.textAreaForm{
    width: 100%;
    background-color: rgba(185, 188, 190, 0.2);
    padding: 10px;
    outline: none;
    border: none;
    border-bottom: 2px solid rgba(0, 238, 255, 0.396);
    color: #fff;

}

.enviarForm{
    width: 100%;
    height: 50px;
    background-color: rgba(0,0,0,0);
    padding: 10px;
    outline: none;
    border: none;
    background: rgba(0, 238, 255, 0.396);
    color: #fff;
    font-weight: 500;
    text-align: center;
    font-size: 1.6rem;
    margin: 20px 0 20px 0;
    cursor: pointer;
    transition: all 0.5s ease;
}

.numerito{
    font-size: 20px;
    color:#151616;
    font-weight: 600;
}



/**** CARRITO ****/
.container-seccion{
    margin: 40px;
    height: 100vh;
}

.carrito-vacio{
    display: none;
}

.container-carrito{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.carrito-productos{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 40px;
    
}

.carrito-producto{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: rgba(81, 83, 83, 0.08);
    padding: .5rem;
    border-radius: 1rem;
    padding-right: 1.5rem;
    padding-top: .9rem;
}

.carrito-producto-imagen{
    width: 4rem;
    border-radius: 1rem;
} 

.carrito-producto small{
    font-size: 1rem;
    font-weight: 600;
}

.carrito-producto-eliminar{
    border: 0;
    background-color: transparent;
    color: red;
}

.carrito-acciones{
    display: flex;
    justify-content: space-between;
}

.carrito-acciones-vaciar{
    border: 0;
    border-color: rgba(83, 82, 81, 0.08);
    padding: 1rem;
    border-radius: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    background-color: rgba(247, 124, 9, 0.396);
}

.carrito-acciones-derecha{
    display: flex;
}

.carrito-acciones-total{
    border: 0;
    display: flex;
    padding: 0.5rem;
    border-radius: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    background-color: rgba(83, 82, 81, 0.08);
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    gap: 1rem;
}

.carrito-acciones-comprar{
    border: 0;
    border-color: rgba(81, 83, 83, 0.08);
    background-color: rgba(143, 247, 9, 0.396);
    padding: 1rem;
    border-radius: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    cursor: pointer;
}